.mainDropContainer {
  width: 100%;
  height: 100%;
  background: #fff;
  border: 1px dashed #5a6ce0;
  border-radius: 4px;
  .dropArea {
    width: 100%;
    height: 100%;
    &.dropOver {
      background: hsl(207, 69%, 81%);
      border: dashed 3px #40a9ff;
    }
    .viewTableContainer {
      padding: 12px;
      user-select: none;
      .viewBtnContent {
        height: 48px;
        line-height: 48px;
        border: solid 1px #ccc;
        border-radius: 4px;
        padding-left: 12px;
      }
      .viewTableWrapper {
        border: solid 1px #ccc;
        margin-top: 12px;
        .viewTableContent {
          position: relative;
          padding: 24px;
        }
        .viewTag {
          width: 45px;
          height: 24px;
          position: absolute;
          top: 0;
          left: 0;
          background: #ccc;
          color: #777;
          font-weight: bold;
          text-align: center;
          cursor: move;
        }
        .viewTable {
          width: 100%;
        }
      }
    }
  }
}