.fieldItem {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90px;
  height: 32px;
  margin: 0 8px;
  font-size: 12px;
  border-radius: 3px;
}
.fieldItem:nth-child(1) {
  margin-left: 0;
}
.fieldItem:nth-last-child(1) {
  margin-right: 0;
}
