.dragFieldItem {
  width: 120px;
  padding-left: 12px;
  cursor: move;
  border: dashed 1px transparent;
  .fieldName {
    position: relative;
    display: inline-flex;
    align-items: center;
    max-width: 100%;
    height: 32px;
    color: #000000d9;
    font-size: 14px;
  }
  .fieldName.required::after {
    display: inline-block;
    margin-left: 4px;
    color: #ff4d4f;
    font-size: 14px;
    font-family: SimSun,sans-serif;
    line-height: 1;
    content: "*";
  }
  &:hover {
    border: dashed 1px #5a6ce0;
  }
}