@import '~antd/lib/style/themes/default.less';

.dn-flex-style-setter {
  .dn-input-items {
    margin-top: -10px;
    margin-right: -10px;
    margin-bottom: 10px;
    margin-left: -10px;
    padding: 10px 10px 0 10px;
    background-color: @border-color-split;

    .@{ant-prefix}-radio-group {
      display: flex;
      width: 100%;

      .@{ant-prefix}-radio-button-wrapper {
        display: flex;
        flex-grow: 1;
        justify-content: center;
        padding: 0;
      }
    }
  }
}
