.relation-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  color: #595959;
  background-color: white;
  cursor: pointer;

  &:hover {
    color: #000;
    background-color: #5a6ce0;
  }
}
