.tydicDesign {
  .headerTop {
    height: 48px;
    border-bottom: solid 1px #5a6ce0;
    // box-shadow: ;
    .operation-tab {
      display: flex;
      justify-content: center;
      height: 100%;
      .tab-panel-wrapper {
        .tab-panel {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          width: 100%;
          height: 100%;
          padding: 0 12px;
          color: #666;
          &:hover {
            color: #40a9ff;
            background: #f2f3fa;
          }
        }
        &.active {
          color: #40a9ff;
          background: #f2f3fa;
        }
      }
    }
  }
  .ant-tree {
    .ant-tree-node-content-wrapper {
      min-height: 32px;
      line-height: 32px;
    }
    .ant-tree-switcher {
      line-height: 32px;
    }
    .ant-tree-node-content-wrapper.ant-tree-node-selected {
      background: #f0f4ff;
    }
  }
  .selectedTag {
    height: 32px;
    padding-left: 4px;
    line-height: 32px;
    background: #f0f4ff;
    border: solid 1px transparent;
  }
  .ant-tree-indent-unit {
    width: 12px;
  }
  .rightPanel {
    width: 360px;
    padding: 0 4px;
    // 拖拽容器 wrapper
    .dragFieldWrapper {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
    }
  }
  .dataSourcePanel {
    width: 100%;
    margin-top: 12px;
  }
  .mainDropPanel {
    height: 100%;
    border: dashed 1px #333;
  }
}
