.dropViewContianer {
  width: 100%;
  height: 100%;
  padding: 0 12px;
  background: #fff;
  border: 1px dashed black;
  .dropArea {
    display: flex;
    align-items: center;
    width: 100%;
    height: 60px;
    padding: 0 12px;
    border: solid 1px #bbb;
    border-radius: 4px;
    &.dropOver {
      background: hsl(207, 69%, 81%);
      border: dashed 3px #40a9ff;
    }
  }
}
