@import '~antd/lib/style/themes/default.less';

@btn-group-prefix-cls: ~'@{ant-prefix}-formily-button-group';

.@{btn-group-prefix-cls}-sticky {
  z-index: 999;
  padding: 10px 0;
  border-top: 1px solid @border-color-split;
  &-inner {
    display: flex;
    .@{ant-prefix}-formily-item {
      flex: 2;
    }
  }
}
