@import '../../variables.less';

.@{prefix-cls}-mobile-simulator {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 100px;
  background-color: var(--dn-mobile-simulator-bg-color);

  &-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: overlay;
  }

  &-body {
    display: flex;
    justify-content: center;
    height: 100%;

    &-content {
      background-color: var(--dn-mobile-simulator-body-bg-color);
      border: 3px solid var(--dn-mobile-simulator-border-color);
    }
  }
}
