.dn-monaco-input {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all 0.15s ease-in-out;

  &.loaded {
    opacity: 1;
  }

  &-view {
    flex-grow: 2;
    height: 100%;
  }

  &-helper {
    position: absolute;
    right: 5%;
    bottom: 10px;
    z-index: 2;
  }

  .monaco-error-highline {
    left: 0px !important;
    width: 5px !important;
    height: 5px !important;
    background: red !important;
    border-radius: 100% !important;
    transform: translate(35px, 5px) !important;
  }
}
