.tydic-componentsManage-home {
  .green {
    color: #6ddccf;
  }
  .violet {
    color: #7868e6;
  }
  .pink {
    color: #ffaec0;
  }
  .blue {
    color: #3377ff;
  }
  .comp-head-static {
    .ant-card-meta-description {
      font-size: 14px;
      font-weight: bold;
    }
    .ant-card {
      box-shadow: none;
      border-bottom: 1px solid #f0f0f0;
    }
    .footer {
      padding: 0;

      background-color: #fff;
      span {
        height: 28px;
        line-height: 40px;
        padding: 0 5px;
      }
    }
    .screen {
      .ant-card-body {
        background-image: url(../../assets/icons/bg1.png);
      }
    }
    .pageT {
      .ant-card-body {
        background-image: url(../../assets/icons/bg2.png);
      }
    }
    .pageY {
      .ant-card-body {
        background-image: url(../../assets/icons/bg3.png);
      }
    }
    .atom {
      .ant-card-body {
        background-image: url(../../assets/icons/bg4.png);
      }
    }
    .ant-card-body {
      width: 100%;
      height: 100%;
      background-size: cover;
      background-position: left center;
      background-image: url(../../assets/icons/bg1.png);
      .ant-card-meta-title {
        color: #181818;
        font-size: 14px;
      }
    }
  }
  .ant-card-actions {
    border-top-color: #f0f0f0;
  }

  .tempContent {
    background: #fff;
    margin-top: 12px;
    padding-left: 16px;
    .ant-tabs-top > .ant-tabs-nav::before,
    .ant-tabs-bottom > .ant-tabs-nav::before,
    .ant-tabs-top > div > .ant-tabs-nav::before,
    .ant-tabs-bottom > div > .ant-tabs-nav::before {
      border-bottom: 0;
    }
    .ant-tabs-content-holder {
      padding-right: 20px;
    }
    .title {
      color: #373d41;
      font-size: 14px;
      font-weight: 400;
    }
    .ant-typography {
      color: #73777a !important;
      margin-top: 5px;
    }
    .auxiliary {
      color: #73777a !important;
    }

    //  .ant-avatar{
    //    border-radius: 0 !important;
    //  }
    .ant-card-bordered {
      border-color: #f0f0f0;
      border-right: 0;
    }
    .ant-card-grid {
      box-shadow: 1px 0 0 0 #f0f0f0, 0 1px 0 0 #f0f0f0, 1px 1px 0 0 #f0f0f0, 1px 0 0 0 #f0f0f0 inset,
        0 1px 0 0 #f0f0f0 inset;
    }
  }
  .dtContent {
    margin-top: 12px;
    .ant-pro-list .ant-pro-list-row-subTitle {
      color: #3377ff !important;
      font-weight: normal;
    }
    // .ant-list-item{
    //   padding: 4px 0;
    // }
  }
  .rightCol {
    padding-left: 16px;

    .rightTop {
      padding: 8px;
      background: #fff;
    }
    .cate {
      margin-top: 8px;
      h4.subTitle {
        color: #73777a;
      }
    }
    .help,
    .notice {
      margin-top: 12p !important;
      &-item {
        display: block;
        line-height: 24px;
        color: #73777a;
        margin-top: 12px;
        &:hover {
          color: #3377ff;
        }
      }
      .ant-divider-horizontal {
        margin: 12px 0;
      }
      &-item:last-child {
        margin-top: 4px;
      }
    }
  }
}
