.sourceItem {
  display: flex;
  align-items: center;
  min-width: 200px;
  height: 56px;
  padding-left: 12px;
  color: #1890ff;
  background: #e6e9f4;
  border: solid 2px #a9abc2;
  border-radius: 4px;
  cursor: pointer;
  .item-icon {
    margin-right: 12px;
  }
  .desc-title {
    font-size: 16px;
  }
  .desc-code {
    color: #cccfda;
  }
  &.selected {
    border-color: #1890ff;
    .indicator {
      position: absolute;
      right: 8px;
      bottom: 0;
    }
  }
}
