.model_group_item_title {
  color: #5a6ce0 !important;
}
.model_container {
  background-color: #fff;

  .header_title {
    padding: 0 12px;
    font-weight: bold;
    font-size: 14px;
    line-height: 56px;
  }
  .header_title_divider_horizontal {
    margin: 0 !important;
  }
}
