@import '../variables.less';

.@{prefix-cls}-main-panel {
  position: relative;
  display: flex;
  flex: 1;
  width: 100%;
  // width: calc(100vh - 320px);
  // height: 100%;
  height: calc(100vh - 48px);
  min-height: 0;
  overflow: hidden;

  &-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    &.root {
      // position: fixed;
      top: 0;
      top: 48px;
      right: 0;
      bottom: 0;
      left: 0;
    }
  }

  &-header {
    display: flex;
    flex-grow: 0;
    flex-shrink: 0;
    align-items: center;
    justify-content: space-between;
    padding: 4px;
    background: var(--dn-main-panel-header-bg-color);
    border-bottom: 1px solid var(--dn-main-panel-header-border-color);

    &-logo {
      display: flex;
      align-items: center;
    }

    &-actions {
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }
  }

  &.root {
    // position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    // top: 48px;
    left: 0;
  }
}

.@{prefix-cls}-composite-panel {
  position: relative;
  z-index: 2;
  display: flex;
  flex-grow: 0;
  flex-shrink: 0;
  user-select: none;

  &-tabs {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    background-color: var(--dn-composite-panel-tabs-bg-color);
    border-right: 1px solid var(--dn-composite-panel-tabs-content-border-color);

    &-pane {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 48px;
      height: 48px;
      color: var(--dn-composite-panel-tabs-color);
      font-size: 20px;
      cursor: pointer;

      &:hover {
        color: var(--dn-composite-panel-tabs-hover-color);
      }

      &.active {
        color: var(--dn-composite-panel-tabs-hover-color);

        &::after {
          position: absolute;
          top: 0;
          left: 0;
          display: block;
          width: 2px;
          height: 100%;
          background-color: var(--dn-composite-panel-tabs-hover-color);
          content: '';
        }
      }
    }

    &-content {
      display: flex;
      flex-direction: column;
      box-sizing: content-box;
      width: 240px;
      height: 100%;
      background: var(--dn-composite-panel-tabs-content-bg-color);
      border-right: 1px solid var(--dn-composite-panel-tabs-content-border-color);

      &.pinning {
        position: absolute;
        top: 0;
        left: 100%;
        z-index: 1;
        border-right: 1px solid transparent;
        box-shadow: -2px 5px 10px rgba(102, 102, 102, 0.42);
      }
    }

    &-header {
      display: flex;
      justify-content: space-between;
      padding: 14px 7px;
      color: var(--dn-composite-panel-tabs-header-color);
      font-size: 16px;
      line-height: 18px;
      border-bottom: 1px solid var(--dn-composite-panel-tabs-content-border-color);

      &-actions {
        display: flex;
        align-items: center;

        & > * {
          margin-right: 8px;

          &:last-child {
            margin-right: 0;
          }
        }
      }

      &-pin {
        transition: all 0.15s ease-in-out;

        &:hover {
          transform: scale(1.1);
        }
      }

      &-title {
        font-size: 20px;
      }

      &-close {
        transition: all 0.15s ease-in-out;

        &:hover {
          transform: rotate(90deg);
        }
      }
    }

    &-body {
      flex-grow: 2;
      flex-shrink: 2;
      height: 100%;
      overflow: overlay;
    }
  }
}

.@{prefix-cls}-workspace-panel {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  box-sizing: border-box;
  padding: 4px;
  overflow: hidden;
  background-color: var(--dn-workspace-panel-bg-color);

  &-item {
    position: relative;
  }

  button[disabled] {
    pointer-events: none !important;
  }
}

.@{prefix-cls}-settings-panel {
  position: relative;
  z-index: 2;
  display: flex;
  display: flex;
  flex-direction: column;
  flex-direction: column;
  flex-grow: 0;
  flex-shrink: 0;
  box-sizing: content-box;
  width: 350px;
  height: 100%;
  background: var(--dn-composite-panel-tabs-content-bg-color);
  border-left: 1px solid var(--dn-composite-panel-tabs-content-border-color);
  user-select: none;

  &.pinning {
    position: absolute;
    top: 0;
    top: 0;
    right: 0;
    z-index: 10;
    border-left: 1px solid transparent;
    box-shadow: 2px 5px 10px rgba(102, 102, 102, 0.52);
  }

  &-header {
    display: flex;
    justify-content: space-between;
    padding: 14px 7px;
    color: var(--dn-composite-panel-tabs-header-color);
    font-size: 16px;
    line-height: 18px;
    border-bottom: 1px solid var(--dn-composite-panel-tabs-content-border-color);

    &-actions {
      display: flex;
      align-items: center;

      & > * {
        margin-right: 8px;

        &:last-child {
          margin-right: 0;
        }
      }
    }

    &-pin {
      transition: all 0.15s ease-in-out;

      &:hover {
        transform: scale(1.1);
      }
    }

    &-title {
      font-size: 20px;
    }

    &-close {
      transition: all 0.15s ease-in-out;

      &:hover {
        transform: rotate(90deg);
      }
    }
  }

  &-body {
    flex-grow: 2;
    flex-shrink: 2;
    height: 100%;
    overflow: overlay;
    .dn-composite-panel {
      width: 100%;
      .dn-composite-panel-tabs-content {
        width: 100%;
      }
    }
  }

  &-opener {
    position: absolute;
    top: 50%;
    right: 0;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    color: var(--dn-composite-panel-tabs-color);
    background: var(--dn-composite-panel-tabs-content-bg-color);
    border: 1px solid var(--dn-composite-panel-tabs-content-border-color);
    border-radius: 3px;
    box-shadow: 0 0 6px rgb(0 0 0 / 10%);
    transform: translateY(-50%);
    cursor: pointer;

    .dn-icon {
      transition: all 0.15s ease-in-out;
    }

    &:hover .dn-icon {
      transform: rotate(45deg);
    }
  }
}
