.section-header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 48px;
  // padding: 0 24px 0 16px;
  background: #fff;
  border-radius: 2px;
  opacity: 1;
  .section-header-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    &::before {
      position: absolute;
      width: 4px;
      height: 20px;
      background-color: #37f;
      content: '';
    }
  }
  .headerTitle {
    padding-left: 8px;
    color: #181818;
    // font-weight: bold;
    font-size: 16px;
  }
}
