@import '~antd/lib/style/themes/default.less';

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes slideInRight {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes slideOutRight {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(100%);
  }
}

.animate__slideInRight {
  -webkit-animation-name: slideInRight;
  animation-name: slideInRight;
}

.animate__slideOutRight {
  -webkit-animation-name: slideOutRight;
  animation-name: slideOutRight;
}

.animate__animated {
  animation-duration: 0.25s;
  animation-delay: 0ms;
  animation-fill-mode: forwards;
}

.animate__fadeInUp {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

.dn-settings-form-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
  .dn-node-path {
    flex-grow: 0;
  }

  .dn-settings-form-content {
    flex-grow: 1;
    overflow: overlay;
  }

  .@{ant-prefix}-formily-item {
    margin-bottom: 8px;
    padding-bottom: 8px;
    border-bottom: 1px solid @border-color-split;

    * {
      font-size: 13px;
    }

    .@{ant-prefix}-formily-item-control-content-component {
      display: flex;
      align-items: center;
      justify-content: flex-end;

      & > .@{ant-prefix}-radio-group {
        display: flex !important;
        width: 100%;

        .@{ant-prefix}-radio-button-wrapper {
          display: flex;
          flex-grow: 2;
          align-items: center;
          justify-content: center;
          padding: 0 6px !important;
        }
      }

      & > .@{ant-prefix}-slider {
        flex-shrink: 0;
        width: 100%;
        min-width: 0;
      }
    }
  }
}

.dn-settings-form {
  padding: 10px 20px;

  &-empty {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    color: #888;
  }
}
