@import '../../variables.less';

@keyframes dn-animate-slide-to-top {
  from {
    transform: translateY(-10%);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 0.8;
  }
}

.@{prefix-cls}-auxtool {
  position: absolute;
  top: 0;
  left: 0;

  z-index: 2;
  width: 100%;
  height: 100%;
  transform: perspective(1px) translate3d(0, 0, 0);
  pointer-events: none;
}

.@{prefix-cls}-aux-cover-rect {
  &.dragging {
    background-color: var(--dn-aux-cover-rect-dragging-color);
  }

  &.dropping {
    background-color: var(--dn-aux-cover-rect-dropping-color);
  }
}

.@{prefix-cls}-aux-free-selection {
  background-color: var(--dn-aux-free-selection-background-color);
  border-color: var(--dn-aux-free-selection-border-color);
}

.@{prefix-cls}-aux-helpers {
  position: absolute;
  z-index: 10;
  user-select: none;
  pointer-events: all;

  &.bottom-right {
    top: 100%;
    right: 0;
  }

  &.bottom-left {
    top: 100%;
    left: 0;
  }

  &.bottom-center {
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
  }

  &.inner-top-right {
    top: -2px;
    right: 2px;
  }

  &.inner-top-left {
    top: -2px;
    left: 2px;
  }

  &.inner-top-center {
    top: -2px;
    right: 2px;
  }

  &.inner-bottom-right {
    right: 2px;
    bottom: -2px;
  }

  &.inner-bottom-left {
    bottom: -2px;
    left: 2px;
  }

  &.inner-bottom-center {
    right: 2px;
    bottom: -2px;
  }

  &.top-right {
    right: 0;
    bottom: 100%;
  }

  &.top-left {
    bottom: 100%;
    left: 0;
  }

  &.top-center {
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
  }

  button {
    span {
      margin-left: 2px;
      transform: scale(0.9);

      &.@{prefix-cls}-icon {
        margin-left: 0;
        transform: scale(1);
      }
    }
  }

  &-content {
    display: flex;
    flex-wrap: nowrap;
    white-space: nowrap;

    button {
      display: flex;
      align-items: center;
      height: 20px;
      padding: 0 3px;
      font-size: 12px !important;
    }

    & > * {
      margin-top: 4px;
      margin-bottom: 4px;
      margin-left: 2px;

      &:first-child {
        margin-left: 0;
      }
    }
  }
}

.@{prefix-cls}-aux-insertion {
  background-color: var(--dn-aux-insertion-color);
}

.@{prefix-cls}-aux-dashed-box {
  border: 1px dashed var(--dn-aux-dashed-box-color);

  &-title {
    color: var(--dn-aux-dashed-box-title-color);
  }
}

.@{prefix-cls}-aux-selection-box {
  border: 2px solid var(--dn-aux-selection-box-border-color);

  &-title {
    color: var(--dn-aux-selection-box-color);
  }
}

.@{prefix-cls}-aux-selector {
  button {
    display: flex;
    align-items: center;
    height: 20px;
    padding: 0 3px;
    color: var(--dn-aux-selector-btn-color); //#fff
    font-size: 12px !important;
    background: var(--dn-aux-selector-btn-bg-color); //#1890ff
    border-color: var(--dn-aux-selector-btn-border-color); //#1890ff

    &:hover,
    &:focus {
      color: var(--dn-aux-selector-btn-hover-color); //#fff
      background: var(--dn-aux-selector-btn-hover-bg-color); //#40a9ff
      border-color: var(--dn-aux-selector-btn-hover-border-color); //#40a9ff
    }

    &:active {
      color: var(--dn-aux-selector-btn-active-color); //#fff
      background: var(--dn-aux-selector-btn-active-bg-color); //#096dd9
      border-color: var(--dn-aux-selector-btn-active-border-color); //#096dd9
    }
  }

  &-menu {
    margin-top: -4px;
    opacity: 0.8;
    animation: dn-animate-slide-to-top 0.2s;

    button {
      display: flex;
      align-items: center;
      height: 20px;
      margin-top: 2px;
      padding: 0 3px;
      font-size: 12px !important;
    }
  }
}
